

/*
    Creamos el estilo de las secciones, ya que todas son iguales.
    Añadimos múltiples paddings para marcar los márgenes.
*/

.section{
    width: 100%;
    padding-left: 40px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
}

/*
    Creamos el estilo del título
*/

#title{
    font-size: 500%;
    color: darkcyan;
}

/*
    Se añade el estilo de Google Fonts
*/

.style{
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/*
    Hacemos el estilo de las secciones con display block y cambiamos su capacidad
*/

.section_partition_1_1{
    display: block;
    width: 40%;
}

.section_partition_1_2{
    display: flex;
    width: 60%;
}

/*
    Hacemos el segundo título para personalizarlo
*/

#first_title_section_1{
    font-size: 50px;
    padding-right: 15%;
}

/*
    Hacemos el estilo de la partición 1, para que se junten los dos bloques
*/

#section-1{
    display: flex;
    width: 100%;
}

/*
    Añadimos una identificación al texto de la primera sección y le cambiamos el color y tamaño
*/

#second-title-section-1{
    color: gray;
    font-size: 460%;
}

/*
    Creamos oto estilo que complemente más con el ejemplo
*/

.second_style{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

/*
    Añadimos los padding para que la imgen/texto/titulo quede centralizada/o
*/

.padding{
    padding-left: 10%;
    width: 15%;
}

.padding-2{
    padding-right: 15%;
    width: 15%;
}

/*
    Hacemos un estilo del texto
*/

#text_section_1{
    font-size: 170%;
}

/*
    Añadimos una identificación para las imagenes
*/

#image{
    height: 100%;
    border-radius: 1.5%;
}

/*
    Aplicamos el estilo de la tabla
*/

#table{
    background-color: black;
    color: aliceblue;
}

#table_title{
    padding-top: 5%;
    padding-left: 2%;
    font-size: 200%;
    text-align: start;
}

#table_partition{
    width: 100%;
    display: flex;
    padding-bottom: 5%;
}

#section25{
    width: 25%;
}

@media screen and (max-width: 800px){
    .section{
        width: 100%;
    }

    #title{
        font-size: 500%;
        color: darkcyan;
    }

    .style{
        font-family: "Reddit Mono", monospace;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    
    .section_partition_1_1{
        width: 100%;
    }
    
    .section_partition_1_2{
        width: 100%;
    }

    #section-1{
        width: 100%;
    }

    #first_title_section_1{
        font-size: 50px;
    }

    .padding{
    }
    
    .padding-2{
    }

    #image{
        border-radius: 1.5%;
    }
}