

/*
    Creamos el estilo de las secciones, ya que todas son iguales.
    Añadimos múltiples paddings para marcar los márgenes.
*/

.section{
    width: 100%;
    padding-left: 40px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
}

/*
    Creamos el estilo del título
*/

#title{
    font-size: 500%;
    color: darkcyan;
}

/*
    Se añade el estilo de Google Fonts
*/

.style{
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/*
    Hacemos el estilo de las secciones con display block y cambiamos su capacidad
*/

.section_partition_1_1{
    display: block;
    width: 40%;
}

.section_partition_1_2{
    display: flex;
    width: 60%;
}

.section_partition_2_2{
    display: block;
    width: 40%;
}

.section_partition_2_1{
    display: flex;
    width: 60%;
}

.section_partition_3_1{
    display: block;
    width: 40%;
}

.section_partition_3_2{
    display: flex;
    width: 60%;
}

/*
    Hacemos el segundo título para personalizarlo
*/

#first_title_section_1{
    font-size: 50px;
    padding-right: 15%;
}

/*
    Hacemos el estilo de la partición 1, para que se junten los dos bloques
*/

#section-1{
    display: flex;
    width: 100%;
}

#section-2{
    display: flex;
    width: 100%;
}

#section-3{
    display: flex;
    width: 100%;
}

/*
    Añadimos una identificación al texto de la primera sección y le cambiamos el color y tamaño
*/

#second-title-section-1{
    color: gray;
    font-size: 460%;
}

/*
    Creamos oto estilo que complemente más con el ejemplo
*/

.second_style{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

/*
    Añadimos los padding para que la imgen/texto/titulo quede centralizada/o
*/

.padding{
    padding-left: 10%;
    width: 15%;
}

.padding-2{
    padding-right: 15%;
    width: 15%;
}

/*
    Hacemos un estilo del texto
*/

#text_section_1{
    font-size: 170%;
}

/*
    Añadimos una identificación para las imagenes
*/

#image{
    height: 100%;
    border-radius: 1.5%;
}

/*
    Aplicamos el estilo de la tabla
*/

#table{
    background-color: black;
    color: aliceblue;
}

#table_title{
    padding-top: 5%;
    padding-left: 2%;
    font-size: 200%;
    text-align: start;
}

#table_partition{
    width: 100%;
    display: flex;
    padding-bottom: 5%;
}

#section25{
    width: 25%;
    font-size: 120%;
}

#padding-top{
    padding-top: 10%;
}

@media screen and (max-width: 800px){
    .section{
        width: 90%;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    #title{
        font-size: 300%;
        color: darkcyan;
    }
    .section_partition_1_1{
        display: block;
        width: 100%;
    }
    .section_partition_1_2{
        display: block;
        width: 100%;
    }
    .section_partition_2_2{
        display: block;
        width: 100%;
    }
    
    .section_partition_2_1{
        display: block;
        width: 100%;
    }
    
    .section_partition_3_1{
        display: block;
        width: 100%;
    }
    
    .section_partition_3_2{
        display: block;
        width: 100%;
    }
    #image{
        width: 100%;
        height: 100%;
        border-radius: 1.5%;
    }
    #section-1{
        display: block;
        width: 100%;
        background-color: rgba(153, 50, 204, 0.1);
    }
    #section-2{
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(250, 235, 215, 0.2);
    }
    #section-3{
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(127, 255, 212, 0.2);
    }
    #first_title_section_1{
        font-size: 30px;
        padding-right: 15%;
    }
    #second-title-section-1{
        color: gray;
        font-size: 152%;
    }
    #section-2{
        display: block;
        width: 100%;
    }
    
    #section-3{
        display: block;
        width: 100%;
    }

    .padding{
        padding-left: 0%;
        width: 15%;
    }
    
    .padding-2{
        padding-right: 0%;
        width: 15%;
    }

    #padding-top{
        padding-top: 0%;
    }

    #table{
        background-color: black;
        color: aliceblue;
    }
    
    #table_title{
        padding-top: 5%;
        padding-left: 2%;
        font-size: 150%;
        text-align: start;
    }
    
    #table_partition{
        width: 100%;
        display: flex;
        padding-bottom: 5%;
    }
    
    #section25{
        width: 50%;
        font-size: 100%;
    }
}